button {
   background: none;
   cursor: pointer;
   font-family: inherit;
}

.btn-container {
   position: fixed;
   inset: auto auto 2.5% 50%;
   transform: translate(-50%);
   display: grid;
   gap: .8rem;
}

.btn-container--state-start {
   grid-template-areas: "start";
}

.btn-container--state-running {
   grid-template-areas:
      'fire left right'
      'pause pause pause';
}

.btn-container--state-lost {
   grid-template-areas: "restart";
}

.btn-container__btn {
   --shadow-color: ;
   --bg: ;
   --area: ;

   font-size: 1.7rem;
   color: black;
   user-select: none;

   border: 2px solid var(--shadow-color);
   padding: .5rem 1rem;

   position: relative;
   z-index: 0;
   transform: translateY(-7px);

   box-shadow: 0 7px var(--shadow-color);
   background-color: var(--bg);
   
   grid-area: var(--area);
}

.btn-container__btn.active,
.btn-container__btn:active {
   transform: translateY(0px);
   box-shadow: 0 0px var(--shadow-color);
}

.fire-btn {
   --area: fire;
   --bg: hsl(0 100% 70%);
   --shadow-color: hsl(0 100% 25%);
}

.move-right-btn {
   --area: right;
}

.move-left-btn {
   --area: left;
}

.move-right-btn,
.move-left-btn {
   --bg: hsl(120 100% 70%);
   --shadow-color: hsl(120 100% 20%);
}

.pause-btn {
   --area: pause;
   --bg: hsl(240 100% 70%);
   --shadow-color: hsl(240 100% 25%);
}

.start-btn {
   --area: start;
}

.restart-btn {
   --area: restart;
}

.start-btn,
.restart-btn {
   --bg: hsl(60 100% 55%);
   --shadow-color: hsl(60 100% 15%);
}

@media (pointer: fine) {
   .btn-container {
      display: none;
   }
}