button {
   background: none;
   cursor: pointer;
   font-family: inherit;
}

.btn-container {
   position: fixed;
   inset: auto auto 2.5% 50%;
   transform: translate(-50%);
   display: grid;
   gap: .8rem;
}

.btn-container--state-start {
   grid-template-areas: "start";
}

.btn-container--state-running {
   grid-template-areas:
      'fire left right'
      'pause pause pause';
}

.btn-container--state-lost {
   grid-template-areas: "restart";
}

.btn-container__btn {
   font-size: 1.7rem;
   border: 2px solid black;
   color: black;
   padding: .5rem 1rem;
   position: relative;
   z-index: 0;
   user-select: none;
   transform: translateY(-7px);
   box-shadow: 0 7px black;
}

.btn-container__btn:active {
   transform: translateY(0px);
   box-shadow: 0 0px black;
}

.fire-btn {
   grid-area: fire;
   background-color: hsl(0 100% 70%);
}

.move-right-btn {
   grid-area: right;
}

.move-left-btn {
   grid-area: left;
}

.move-right-btn,
.move-left-btn {
   background-color: hsl(120 100% 70%);
}

.pause-btn {
   grid-area: pause;
   background-color: hsl(240 100% 70%);
}

.start-btn {
   grid-area: start;
}

.restart-btn {
   grid-area: restart;
}

.start-btn,
.restart-btn {
   background-color: hsl(60 100% 55%);
}

@media (pointer: fine) {
   .btn-container {
      display: none;
   }
}